<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shalomadonai.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shalom_logotipo_min"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shalom_logotipo_min_round"
        android:supportsRtl="true"
        android:fadeScrollbars="false"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.shalomadonai.app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shalom"
            android:screenOrientation="portrait"
            android:fadeScrollbars="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.shalomadonai.com.br" />
            </intent-filter>
        </activity>
    </application>

</manifest>